{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "rules": {
        "indent": [2, 4, {
            "SwitchCase": 1
        }],
        "comma-dangle": [2, "never"],
        "object-shorthand": [2, "never"],
        "max-len": [1, 160, 4],
        "object-curly-spacing": [2, "never"],
        'react/jsx-indent-props': [2, 4],
        "react/prop-types": [2, { "ignore": [], customValidators: [] }],
        # consider turning these on!!
        "prefer-const": 0,
        "arrow-body-style": 0,
        "new-cap": [2, { "capIsNewExceptions": ["DragSource", "DropTarget", "DragDropContext"]}]
    }
}
