{
    "parser": "babel-eslint",
    "env": {
        "node": true,
        "es6": true
    },

    "plugins": [
        "react"
    ],

    "settings": {
        "ecmascript": 6
    },

    "ecmaFeatures": {
        "jsx": true
    },

    "rules": {
        "comma-spacing": 0,
        "no-extra-semi": 2,
        "camelcase": [2, {"properties": "always"}],
        "brace-style": [2, "1tbs", { "allowSingleLine": true }],
        "no-underscore-dangle": 0,
        "strict": 0,
        "no-trailing-spaces": 0,
        "no-undef": 1,
        "react/jsx-no-undef": 2,
        "no-unused-vars": 2,
        "react/jsx-uses-vars": 1,
        "react/jsx-uses-react": 1,
        "no-console": 1,
        "eqeqeq": [2, "smart"],
        "quotes": [2, "single"]
    },

    "globals": {
        "document": true,
        "window": true
    }
}
